@model List<Model.ModelView.CategoryMv>
<div class="side-bar col-lg-3">
    <div class="search-hotel">
        <h3 class="agileits-sear-head">Tìm kiếm ở đây</h3>
        <form action="#" method="post">
            <input type="search" placeholder="Product name..." name="search" required="">
            <input type="submit" value=" ">
        </form>
    </div>
    <div class="categoryList">
        <h3>Danh mục sản phẩm</h3>
        <ul class="row">
            @foreach (var item in Model)
            {

                <div class="dropdown col-md-12">
                    <li class="productCate ">
                        @if (item.SubCategories.Count > 0)
                        {
                            <a class="dropbtn" href="@Url.Action("LoadProductByCategory","Shop",new  {id  = @item.ID})"> <i class='fa fa-heart'></i> @item.Name</a>
                            <div class="dropdown-content">
                                <ul>
                                    @foreach (var item1 in item.SubCategories.Where(x => x.CategoryId == item.ID))
                                    {
                                        <li class="productCate">
                                            <a href="@Url.Action("LoadProductBySubCategory","Shop", new { id = @item1.ID})"><i class='fa fa-heart'></i>@item1.Name</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        }
                        else
                        {
                        <li class="productCate dropdown">
                            <a href=""><i class='fa fa-heart'></i>@item.Name</a>
                        </li>
                    }
                        </li>
                    </div>


                }
        </ul>
    </div>
    <!-- price range -->
    <!-- //deals -->
</div>